/* -------------mediaquery------------- */

/*화면 너비 0 ~ 1220px(기본 모니터)*/
@media (max-width: 1220px) {
    .container {width: 100%;} /*가로 스크롤 방지*/
    .container_row {padding: 0 15px;} /*1220px아래가면 헤더a태그 글자 좌우15px로 띄워짐*/
    .title .btn {right: 10px;}
    #contents .container {border: 0 ;}
    .square a {width: 24%;}
    .square a:nth-child(5n) {display: none;}
}

/*화면 너비 0 ~ 1024px(모니터)*/
@media (max-width: 1024px) {
    .square a {width: 32.3333%;}
    .square a:nth-child(5) {display: block;}
}

/*화면 너비 0 ~ 960px(태블릿)*/
@media (max-width: 960px) {
    #cont_right {position: static; width: 100%; border-top: 1px solid #dbdbdb;}
    #cont_center {margin-right: 0; border-right: 0;}
    .nav > div {float: none; width: 100%;}
    .nav > div:last-child {width: 100%;}
    .nav > div li {width: 33.333%;}
    .nav > div:last-child li {width: 33.333%;}
    .nav > div ol {margin-bottom: 10px;}

    #cont_right {overflow: hidden;}
    #cont_right .column {
        float: left; width: 33.3333%;
        box-sizing: border-box;
        border-bottom: 0;
    }
    #gotop {
        position: fixed;
        right: 50px;bottom: 150px;
        z-index: 9999999;
        display: block;
    }
    
    #gotop a {
        display: inline-block;
        width: 60px; height: 60px;
        border-radius: 50%;
        background: rgb(51, 51, 51);; color:#fff; 
        font-size: 35px;
        text-align: center;
        line-height: 60px;
        font-weight:bold; 
        transition:all .7s;
    }
}

/*화면 너비 0 ~ 768px(테블릿)*/
@media (max-width: 768px) {
    #cont_left {float: none;width: 100%;}
    #cont_center {border-left: 0;}
    .nav {padding-left: 80px;}
}

/*이미지 슬라이드*/

/*화면 너비 0 ~ 600px(모바일)*/
@media (max-width: 600px) {
    /* #header .header_title { display: none; } */
    #header .header_icon {display: none;}
    .header_in {
        height: auto;
        /*헤더의 하이트 값을 깰려면 적용*/
    }
    .title .btn {display: none;}

    .nav > div li {width: 50%;}
    .nav > div:last-child li {width: 50%;}

    .col1 .col_title {display: none;}
    .col1 .col_desc {display: none;}
    .col1 .menu li i {display: none;}
    .col1 {padding: 0;border-bottom: 0;}
    .col1 .menu ul {overflow: hidden;}
    .col1 .menu li {
        float: left;
        width: 33.333%;
        text-align: center;
        border-right: 1px solid #dbdbdb;
        box-sizing: border-box;
    }
    .col1 .menu li:nth-child(3n) {border-right: 0;}
    .col1 .menu li a {
        color: #fff;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }
    .col1 .menu li a:hover {
        box-shadow: none;
        background: rgba(36, 130, 174, 0.7);
    }
    .col2 {background: white;}
    .col4 {border-top: 1px solid #dbdbdb;}
    
    #cont_right .column {width: 50%;}
    #cont_right .column.col9 {display: none;}

    .square a {width: 49%;}
    .square a:nth-child(5) {display: none;}
}


/*화면 너비 0 ~ 320px(모바일)*/
@media (max-width: 320px) {
    .nav > div li {width: 100%;}
    .nav > div:last-child li {width: 100%;}
    #cont_right .column {width: 100%;}
    .square a {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    #gotop {
        position: fixed;
        right: 20px;
        bottom: 150px;
        z-index: 9999999;
        display: block;
    }
    #gotop a {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgb(51, 51, 51);
        color: #fff;
        font-size: 35px;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        transition: all 0.7s;
    }
}
